In [3]:
import pandas as pd
course_name = ["Data Science", "Machine Learning’", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame( {"course_name" : course_name, "duration" : duration})
df

         course_name  duration
0       Data Science         2
1  Machine Learning’         3
2           Big Data         6
3      Data Engineer         4

In [12]:
# Q1. Write a code to print the data present in the second row of the dataframe, df.

print(df[["course_name","duration"]][1:2])
print("we can print like this")
print(df.loc[1])

         course_name  duration
1  Machine Learning’         3
we can print like this
course_name    Machine Learning’
duration                       3
Name: 1, dtype: object

In [ ]:
# Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for 
# both new_df.loc[2] and new_df.iloc[2].

# Did you observe any difference in both the outputs? If so then explain it.

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
print(df)
new_df=df.reindex([3,0,1,2])
print(new_df)

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.018216  0.931357  0.520458  0.153768  0.952555  0.106048
2  0.541098  0.744690  0.582494  0.487276  0.590740  0.539817
3  0.002020  0.900469  0.092469  0.476658  0.586126  0.137947
4  0.964835  0.967411  0.282987  0.673180  0.295043  0.074016
5  0.466135  0.465527  0.899210  0.503161  0.965692  0.514768
6  0.012609  0.202743  0.077610  0.839203  0.262671  0.983862
   column_1  column_2  column_3  column_4  column_5  column_6
3  0.002020  0.900469  0.092469  0.476658  0.586126  0.137947
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.018216  0.931357  0.520458  0.153768  0.952555  0.106048
2  0.541098  0.744690  0.582494  0.487276  0.590740  0.539817

In [75]:
print(df.loc[2])

print(new_df.iloc[2])

column_1    0.541098
column_2    0.744690
column_3    0.582494
column_4    0.487276
column_5    0.590740
column_6    0.539817
Name: 2, dtype: float64
column_1    0.018216
column_2    0.931357
column_3    0.520458
column_4    0.153768
column_5    0.952555
column_6    0.106048
Name: 1, dtype: float64

In [69]:


"""" so i observe a differce between df.loc[2] and df.iloc[2]  that df.loc[2] give 
the output according the assign or given index and df.iloc[2] give the output according to default index
"""

'" so i observe a differce between df.loc[2] and df.iloc[2]  that df.loc[2] give \nthe output according the assign or given index and df.iloc[2] give the output according to default index\n'

In [13]:
# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
# If you are getting errors in executing it then explain why. 
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

import pandas as pd
df = pd.DataFrame({
    'column_1': [10, 20, 30],
    'column_2': [1.5, 2.5, 3.5]
})
#df.loc[1,["column_2"]]="hello"
mean_col2=df["column_2"].mean()
"""" it shows the error because we cannot find the average of string and numerice value both the valse should be in integer and float dtype """

'" it shows the error because we cannot find the average of string and numerice value both the valse should be in integer and float dtype '

In [ ]:
#  Write a code to print only the current month and year at the time of answering this question.

from datetime import datetime
current_month=datetime.now().month
print(current_month)

current_year=datetime.now().year
print(current_year)

7
2025

In [ ]:
#Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates
#  the difference between them in days, hours, and minutes using Pandas time delta. The 
# program should prompt the user to enter the dates and display the result.

import pandas as pd
a=input("enter the date in the format YYYY-MM-DD 1:")
b=input("enter the date in the format YYYY-MM-DD 2:")
a1=pd.to_datetime(a)
b1=pd.to_datetime(b)
delta=b1-a1
days=delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds % 3600) // 60
print(days,hours,minutes)

In [ ]:

# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified 
# column to a categorical data type. The program should prompt the user to enter the file path, column
# name, and category order, and then display the sorted data.

file_path=input("enter the file path:")
col=input("enter the col name:")
order=input("enter the order of categories with com :").split(',')
df=pd.read_csv(file_path)
col=pd.Categorical(df[col],categories=order,ordered=True)
df_sort=df.sort_values(col)
print(df_sort)

In [ ]:

# Q10. Write a Python program that reads a CSV file containing sales data for different products and 
# visualizes the data using a stacked bar chart to show the sales of each product category over time. The
# program should prompt the user to enter the file path and display the chart.

import pandas as pd
import matplotlib.pyplot as plt

file_path=input("file_path")
df=pd.read_csv(file_path)
df['Date'] = pd.to_datetime(df['Date'])
pivot_table=pd.pivot_table(index="data", columns="Category", values="sales",aggfunc="sum")
table.plot.bar(stacked=True)

plt.xlabel("Date")
plt.ylabel("Sales")
plt.title("Sales by Product Category Over Time")
plt.tight_layout()
plt.show()

In [ ]:
#Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
# Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
# displays the results in a table.

import pandas as pd

file_path = input("Enter the path to the student CSV file: ")
df = pd.read_csv(file_path)

mean_score = df['Score'].mean()
median_score = df['Score'].median()
mode_score = df['Score'].mode() 
result = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Score': [mean_score, median_score, ', '.join(map(str, mode_score))]
})

print(result)