In [1]:
# Q1 Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

import pandas as pd
data={"A":["egg","fgg","tgg","wgg"],
      "B":[34,56,12,67],
      "C":[00,90,80,70],
}
l=[1,3,5,7]
df=pd.DataFrame(data,index=l)
print(df)

     A   B   C
1  egg  34   0
3  fgg  56  90
5  tgg  12  80
7  wgg  67  70

In [2]:
# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
# function should print the sum to the console.
import pandas as pd
data={"num":[10, 20, 30, 40, 50]}

df=pd.DataFrame(data)
g=df.loc[0:2,["num"]]
print(g)
print(g.sum())

   num
0   10
1   20
2   30
num    60
dtype: int64

In [3]:
#Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' 
# that contains the number of words in each row of the 'Text' column.

import pandas as pd
data={"text":["Given", "a" ,"Pandas","DataFrame","df", "with", "a","column"]
              }
df=pd.DataFrame(data)
df['Word_Count']=df["text"].apply(len)
print(df)

        text  Word_Count
0      Given           5
1          a           1
2     Pandas           6
3  DataFrame           9
4         df           2
5       with           4
6          a           1
7     column           6

In [4]:
# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. 
# Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The
#  username is the part of the email aress that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', 
# the 'Username' column should contain 'john.doe'. Yourfunction should extract the username from each email address and store it in the new 
# 'Username' column.

import pandas as pd
df = pd.DataFrame({
    'Email': [
        'john.doe@example.com',
        'alice123@domain.org',
        'vibha@myemail.co.in',
        'user.name+tag@gmail.com'
    ]
})
df["username"]=df["Email"].str.split("@").str[0]
print(df)

                     Email       username
0     john.doe@example.com       john.doe
1      alice123@domain.org       alice123
2      vibha@myemail.co.in          vibha
3  user.name+tag@gmail.com  user.name+tag

In [6]:
#Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
# all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
# function should return a new DataFrame that contains only the selected rows.

import pandas as pd 
df=pd.DataFrame({
    "A":[3,8,6,2,9],
    "B":[5,3,9,3,1],
    "C":[1,7,4,5,2]
})
print(df)
print(df[(df["A"]>5) & (df["B"]<10)])

   A  B  C
0  3  5  1
1  8  3  7
2  6  9  4
3  2  3  5
4  9  1  2
   A  B  C
1  8  3  7
2  6  9  4
4  9  1  2

In [35]:
# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, 
# median, and standard deviation of the values in the 'Values' column.

import pandas as pd
a={ "values":[12,34,56,78,90]
}
df=pd.DataFrame(a)
print(df.mean())
print(df.std())
print(df.median())

values    54.0
dtype: float64
values    31.780497
dtype: float64
values    56.0
dtype: float64

In [ ]:
# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' 
# that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated
#  using a window of size 7 and should include the current day.

In [1]:
import pandas as pd
df = pd.DataFrame({
    'Date': pd.date_range(start='2025-07-01', periods=10),
    'Sales': [200, 220, 250, 270, 300, 320, 350, 370, 400, 420]
})
df['MovingAverage']=df['Sales'].rolling(window=7,min_periods=1).mean()
print(df)

        Date  Sales  MovingAverage
0 2025-07-01    200     200.000000
1 2025-07-02    220     210.000000
2 2025-07-03    250     223.333333
3 2025-07-04    270     235.000000
4 2025-07-05    300     248.000000
5 2025-07-06    320     260.000000
6 2025-07-07    350     272.857143
7 2025-07-08    370     297.142857
8 2025-07-09    400     322.857143
9 2025-07-10    420     347.142857

In [28]:
# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The
# 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

import pandas as pd 
df=pd.DataFrame({
    "date": pd.date_range(start="2025-01-01",periods=10)
})
def week_days(df):
    df["week_day"]=df["date"].dt.day_name()
    return df
week_days(df)

        date   week_day
0 2025-01-01  Wednesday
1 2025-01-02   Thursday
2 2025-01-03     Friday
3 2025-01-04   Saturday
4 2025-01-05     Sunday
5 2025-01-06     Monday
6 2025-01-07    Tuesday
7 2025-01-08  Wednesday
8 2025-01-09   Thursday
9 2025-01-10     Friday

In [48]:
# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows 
# where the date is between '2023-01-01' and '2023-01-31'.
df=pd.DataFrame({
      "date": pd.date_range(start="2025-01-01",end="2023-01-31")})
timee = pd.Timedelta(hours=6, minutes=45)
df["time"]=timee
print(df)

Empty DataFrame
Columns: [date, time]
Index: []

In [61]:
date=pd.date_range(start="2025-01-01",end="2025-01-31")
df=pd.DataFrame({"date":date})
timee = pd.Timedelta(hours=6, minutes=45)
df["time"]=timee
a=df[(df["date"]>"2025-01-02") & (df["date"]<"2025-01-15")]
print(a)

         date            time
2  2025-01-03 0 days 06:45:00
3  2025-01-04 0 days 06:45:00
4  2025-01-05 0 days 06:45:00
5  2025-01-06 0 days 06:45:00
6  2025-01-07 0 days 06:45:00
7  2025-01-08 0 days 06:45:00
8  2025-01-09 0 days 06:45:00
9  2025-01-10 0 days 06:45:00
10 2025-01-11 0 days 06:45:00
11 2025-01-12 0 days 06:45:00
12 2025-01-13 0 days 06:45:00
13 2025-01-14 0 days 06:45:00